</body>
</html>
<!DOCTYPE html>  <!--Doctype to check html version-->
<html>
<head>
<title>DECESION TREE (GINI) </title>
<link rel="stylesheet" href="/static/sub.css">
</head>
<body>
<header>
<div class="ran">
<h1>DECESION TREE (GINI) </h1>
</div>
<div class="out">   
<p>ACCURACY SCORE OF DECESION TREE (GINI) : {{gnf}}</p>                  
</div>
<div class="image">
<img src="/static/images/gini.png" width="450px" height ="550px" />
</div>
<div class="image1">
<img src="/static/images/dgini.png" width="700px" height ="420px" />
</div>
</header>
</body>
</html>