<!DOCTYPE html>
<html>
<head>
<title>INTRUSION DETECTION</title>
<link rel="stylesheet" href="/static/st.css">
</head>
<body>
<header style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/images/bg.png)">
<div class="main">
<div class="logo">
<img src="/static/images/logo.png"></div>
<ul>
<li class="active"><a href="#">HOME</a></li>
<li><a href="http://kdd.ics.uci.edu/databases/kddcup99">DATA SET</a></li>
<li><a href="https://github.com/BAmit1234/INTRUSION-DETECTION-SYSTEM">PROJECT DOWNLOAD</a></li>
<li><a href="https://www.researchgate.net/publication/300004210_Feature_Selection_for_Intrusion_Detection_Using_Random_Forest">REFRENCE</a></li>
<ul>
</div>
<div class="title">
<h1>INTRUSION DETECTION</h1>
</div>
<div class="ques">
<h1> USE ANY ONE OF THE FOLLOWING CLASSIFIER TO DETCTION INTRUSTION IN SYSTEM</h1>
</div>
<div class="button">
    <a href="gini.html" class="btn">Decesion Tree(GINI)</a>
    <a href="entropy.html" class="btn">Decesion Tree(ENTROPY)</a>
    <a href="random.html" class="btn">RANDOM FOREST</a>
</div>
</header>
</body>
</html>